
@import "bootstrap/scss/bootstrap";
/* latin */
@font-face {
  font-family: 'Source Sans Pro Light';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGOode0-EuMkY--TSyExeINg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}


/* latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/ODelI1aHBYDBqgeIAH2zlNV_2ngZ8dMf8fLgjYEouxg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}


/* latin */
@font-face {
  font-family: 'Source Sans Pro Black';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(https://fonts.gstatic.com/s/sourcesanspro/v11/toadOcfmlt9b38dHJxOBGHZhYM0_6AejPZE-OqA592o.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

body, html {
  margin: 0;
  padding: 0;
  height:100vh;
  width: 100%;
  max-width: 100%;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  background-color: #dfdfdf;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.main {
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
  padding: 10px 10px 0 10px;
}

.brand {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  img{
    min-width: 100%;
  }

  .logo {
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    position: absolute;
    width: 70px;
    top: 0.1rem;
    left: 0.1rem;
    line-height: 1rem;
    font-size: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    span {
      letter-spacing: 1px;
      color: #2b2d2f;
      font-size: 2rem;
    }
  }
}

.nav.sidebar {

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  .brand, .inner .item {
    float: none;
  }
  .divider {
    margin-left: 0;
  }
  .inner {
    list-style: none;
    margin: 0;
    padding: 0;
    .item {
      line-height: 3em;
      display: block;
    }
    .link {
      width: 100%;
      height: 100%;
      display: block;
      position: relative;
      text-decoration: none;
      color: #423636;

      i {
        position: absolute;
        right: 3px;
        line-height: 1.5em;
        font-size: 2em;
        text-align: right;
      }
      &:hover {
        background-color: rgba(92, 92, 92, 0.1);;
        color: #111111;
      }
    }
    .link-text {
      font-weight: 300;
      padding-left: 5px;
    }
  }
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

@media (min-width: 10em) {
  .nav.sidebar {
    .brand, .inner .item {
      float: left;
    }
    .brand {
      width: 100%;
    }
    .divider {
      //margin-left: 1rem;
    }
    .inner {
      .item + .item, .link + .link {
        //margin-left: 1rem;
      }
    }
  }
  .brand {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 1em;
  }
}

@media (min-width: 765px) {
  .main {
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
  }
  .nav.sidebar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

    &:hover + .main {
      margin-left: 200px;
    }
    > {
      .container .brand, .container-fluid .brand {
        margin-left: 0;
      }
    }
    .brand, .header {
      text-align: center;
      width: 100%;
      margin-left: 0;
    }
    a {
      color: #423636;
      font-weight: 500;
      padding-right: 13px;
    }
    .inner {
      > li {
        &:first-child {
        }
        display: block;
        width: 100%;
      }
      .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }
    .collapse, .container-fluid {
      padding: 0 0 0 0;
    }
    .inner .open .dropdown-menu > li > a {
      color: #777;
    }
    background-color: #2b2d2f;
    width: 200px;
    height: 100%;
    margin-left: -160px;
    float: left;
    margin-bottom: 0;
    border-radius: 0;
    position: fixed;
    top: 0;
    bottom: 0;
    li {
      width: 100%;
    }
    &:hover {
      margin-left: 0;
    }
    .forAnimate {
      opacity: 0;
    }
    .link-text {
      color: rgba(0, 0, 0, 1) !important;
    }
  }
}

@media (min-width: 300px) {
  .main {
    position: absolute;
    width: 100%;
    float: right;
  }
  .nav.sidebar {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    .link-text {
      color: rgba(0, 0, 0, 0);
    }

  }
}

@media screen and (max-width: 1330px) {
  .nav.sidebar {
    .brand {
      width: 2.5rem;
      float: right;
    }
  }
  .brand {
    padding-left: 0.2em;
    padding-right: 0.2em;
    padding-top: 0.3em;
  }
  .inner {
    .item {
      width: 4.2em;
    }
  }

}

@media (min-width: 1330px) {
  .main {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
  .nav.sidebar {
    margin-left: 0;
    float: left;
    .forAnimate {
      opacity: 1;
    }
  }

}

nav:hover .forAnimate {
  opacity: 1;
}

section {
  padding-left: 15px;
}



.vertical-offset-100 {
  padding-top: 100px;
}

$font-size: 13px;
$line-height: 1.4;
$lines-to-show: 3;
.card {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 0.2px;

}

.ellipsis {
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
  margin: 0 auto;
  font-size: $font-size;
  line-height: $line-height;
  -webkit-line-clamp: $lines-to-show;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.grid{
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;*/
}
.grid-item{
/*  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;*/
}
.grid-item-title {
  -webkit-text-size-adjust: none;
  color: #ffffff;
  width: 100%;
  text-align: center;
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 2em 0;
  text-transform: uppercase;
  letter-spacing: 0.10em;
  font-size: 1em;
  padding: 0;
  border: 0;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0.4em;
  font-size: 0.6em;
  text-align: center;
  color: darkred;
  background-color: #F1F1F1;

}
.packages-item-title{
  color: #3b3b3b;
  font-family: 'Source Sans Pro Black', serif;
  text-transform: uppercase;
  padding: 0.2em;
}
.grid-item-slug{
  color: #3b3b3b;
  font-family: 'Source Sans Pro Light', serif;
  position: absolute;
  right: -5px;
  top: 15px;
  background-color: #F1F1F1;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.16), 0 3px 2px rgba(0, 0, 0, 0.1);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  border-radius: 1px;
  //border: 1px solid rgba(0, 0, 0, 0.16);
  padding: 0.2em;
  margin-bottom: 2em;

}
.slug-project{
  background-color: #0275D8;
  color: #f9f2f4;
}
.slug-post{
  background-color: #d84d9d;
  color: #f9f2f4;
}
.slug-php{
  background-color: mediumpurple;
  color: #f9f2f4;
}
.slug-magento, .slug-magneto{
  background-color: #F26322;
  color: #f9f2f4;

}

.packages-item-slug{
  margin-top: 2em;
  margin-bottom: 2em;
}
.grid-item-slug:hover{
  text-decoration: none;
}
.btn-download {
  float: right;
  margin: 1em;
  font-family: 'Source Sans Pro Black', serif;
  text-transform: capitalize;
  color: #f9f2f4 !important;
}
.post-container{
  .post {
    .post-img-top{
      text-align: center;
      img{
        margin-left: auto;
        margin-right: auto;
        padding-top: 4rem;
        padding-bottom: 6rem;

      }
    }
    .post-title{
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
      margin-top:  -4rem;
      background-color: #FFFFFF;
      padding: 0.5em;
      text-align: center;
      box-shadow: 0px -2px 13px 0px rgba(156,140,156,1);
      position: relative ;
      @media screen and (max-width: 770px) {
        max-width: 90%;
      }
      ::after{
        content: ' ';
        background-color: #ffffff;
        position: absolute;
        width:  100%;
        height: 10px;
        bottom: -7px;
        right: 0;

      }
    }
    .post-block{
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      box-shadow: 0px -2px 13px 0px rgba(156,140,156,1);
      background-color: #ffffff;
      @media screen and (max-width: 770px) {
        max-width: 100%;
      }
      img{
        max-width: 100%;
      }
      .post-section{
        padding: 1rem;

      }
      @media screen and (max-width: 770px) {
        max-width: 100%;
      }
    }

  }
  @media screen and (max-width: 600px) {
    margin:0;
    padding:0;
  }
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
